<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.1/phpunit.xsd"
        colors="true"
        cacheResult ="false">
    <testsuites>
        <testsuite name="MySql">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>